{% extends 'main/base.html' %}

{% block title %}Про нас{% endblock  %}

{% block content %}
    <div class="features">
        <h2>О проекте LenNews</h2>
    <p>LenNews – это новый новостной портал, нацеленный поднять настроение нашему пользователю. Если у вас плохое самочувствие, мы прописываем вам обязательный просмотр наших постов с котиками и многое другое :3</p>
    </div> 
    <div class="principles">
        <h2>Наши принципы</h2>
        <ul>
            <li>🔍 <strong>Проверка фактов</strong> – все новости проходят редакционную проверку.</li>
            <li>📢 <strong>Открытость</strong> – мы всегда готовы к диалогу с читателями.</li>
            <li>🚀 <strong>Позитив</strong> - мы прилагаем все усилия, чтобы вы были довольны</li>
        </ul>
    </div>
    <div class="contacts">
        <h2>Свяжитесь с нами</h2>
        <p>📧 Email: <a href="mailto:info@lennews.ru">info@lennews.ru</a></p>
        <div class="social-links">
            <a href="#"><i class="fab fa-vk"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
        </div>
    </div>
    <div class="cta">
        <a href="{% url 'news_home' %}" class="btn btn-warning">Читать новости</a>
    </div>
{% endblock content %}